---
layout: views/main.njk
title: Archer.ninja
---

<section class="row">
    <img src="img/placeholder-image.png" alt="wrong path"/>
    <div>
        <h2>{{ title }}</h2>

        <p>
            Welcome to Archer.ninja! Why a ninja domain? Because it was available,
            and ninjas are cooler than pirates.
            <br/><br/>
            Now that I've lost half my potential readers, I'm Matt Archer;
            junior front-end developer, sole in-house IT provider for a SMB
            in Connecticut, and a long time nerd. Read on to learn more! If
            you want to skip the niceties, contact me to help with your web
            project.
        </p>
        <p>
            <button>Button</button>
        </p>
    </div>
</section>