<!doctype html>
<html lang="en-us" data-theme="light">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Matt Archer">
	<link rel="stylesheet" href="css/index.css">
	<script src="scripts/main.js" defer></script>
</head>
<body> 
	<header>
		{% include "views/header.njk" %}
	</header>
	{{ content | safe }} 
</body>
</html>
