    <nav>
        <ul class="main-nav">
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="#" title="placeholder">Games</a></li>
            <li><a href="#" title="placeholder">Blah</a></li>
        </ul>
        <button class="theme-toggle">
            Theme
        </button>
    </nav>