---
permalink: /
title: Archer.ninja
jobs:
  - title: Protedyne Corp. (LabCorp)
    details: Robots Rule!
    bullets:
      - description: Assumed the role of DevOps engineer from three Senior Software Engineers that instituted company best practices.
      - description: Grew automated reporting capabilities with Linux server scripts that managed a fleet of machines across the continental USA.
      - description: Created, tested, and deployed unit bring-up procedure for the company's newest product within 3 months, then iterated its capabilites as needs changed.
  - title: Rebel Interactive Group
    details: Full service digital marketing agency
    bullets:
      - description: Implemented best practice security measure for zero dollars and protected employee data daily.
      - description: Researched and proposed various MDM solutions to manage a growing fleet.
      - description: Handled hardware and software issues across operating environments daily. 
  - title: ABEX Distribution (Amazon Affiliate)
    details: Amazon fulfillment contracting company
    bullets:
      - description: Safely delivered thousands of dollars of retail goods daily.
      - description: Observed stringent security and health protocols introduced rapidly in the height of the 2019 - 2020 pandemic.
      - description: Identified and built a custom automation solution to save 20% of morning prep time for daily route management.
  - title: Quinnipiac Polling Institute
    details: National polling institute interested in U.S. political opinions
    bullets:
      - description: Conducted telephonic interviews about interesting subjects in the news.
  - title: Staples
    details:  Retail office supplies store
    bullets:
      - description: Assisted customers with various systems with troubleshooting and management.
      - description: Built rapport with customers to grow sale margins daily with appropriate additional products.
      - description: Received recognition for sale growth while a member of Bristol, CT branch.
  - title: Davis IGA
    details: Small town, family owned grocery
    bullets:
      - description: Managed and rotated stock daily to ensure fresh product was available.
      - description: Assisted in goods acquisition to help customer receive the best outcome for daily nutrition.
  - title: United States Marine Corps
    details: 2/5 Camp Pendleton, CA
    bullets:
      - description: Managed up to 12 employees daily.
      - description: Participated in extracurricular training to improve company proficency in niche disciplines. (Assault Climbers Course)
      - description: Trained in cross-departmental disciplines as required by the company's needs. (General Infantry, Machine Gunnery)
      - description: Recognized for efforts and conduct above and beyond the call of duty by company senior leadership and affiliate units. 
  
---
<div id="home">
  <section class="row">
      <img src="/assets/images/placeholder-image.jpg" alt="wrong path"/>
      <div>
        <p>
            Welcome to Archer.ninja! Why a ninja domain? Because it was available,
            and ninjas are cooler than pirates.
            <br/><br/>
            Below, you can see some of my work history, and above I'll be linking other pet projects. 
            Currently I'm working as the in-house IT provider for a SMB in Connecticut that does full spectrum digital
            marketing. If you're a company representative that could use high-quality custom marketing engagement, see
            their website <a href="https://rebelinteractivegroup.com/" title="Rebel Interactive Group's website in a new tab." target="_blank">Here</a>,
            or in their history section below. If you're just looking to get a small website up and running and don't want 
            to break the bank, you can reach me for help by clicking the contact button below.
        </p>
        <p class="centered">
          <a href="/contact" title="contact me" class="contact-button btn" role="button">Contact</a>
        </p>
      </div>
  </section>
  <section class="news-section">
    <h2>Things I Find Interesting</h2>
    <p>
      I tend to spend most of my time on work, but when I have some breathing room, I like to keep up on some news in certain areas.
      If you happen to be the same level of nerd as me, or in the ballpark, maybe you'll find some of this content useful!
    </p>
        {# {{ mmoStories | dump }} #}
    <ul class="cards api-response">
      {% for item in mmoStories %}
        {% if loop.index0 < 6 %}
          <a href="{{item.article_url}}" target="_blank">
            <li>
              <p>{{item.title}}</p>
              <p>{{item.short_description}}</p>
            </li>
          </a>
        {% endif %}
      {% endfor %}
    </ul>
    {# {{ newsApi | dump }} #}

    {# Throw in the generic newsApi responses with everything/technology category #}
    <article>
      <h2>General Tech News:</h2>
      <ul class="cards api-response">
        {% for article in newsApi.articles %}
          {% if loop.index0 < 10 %}
            <a href="{{article.url}}" target="_blank" title="{{article.title}}">
              <li>
                <h4>{{article.title}}</h4>
                <p class="description">
                  {{article.description}}
                </p>
              </li>
            </a>
          {% endif %}
        {% endfor %}
      </ul>
    </article>
  </section>

  <article class="history">
    <h2 class="centered">Where I've Worked</h2>
    {# {% set list = jobs %} #}
    {% for list in jobs %}
      {% include "partials/filter-list.njk" %}
    {% endfor %}
  </article>
</div>