:root {
  /**
    Colors
  */
  --color-text: #222;
  --color-background: white;
  --color-light: silver;
  --color-primary: #a82011;

  @media (prefers-color-scheme: dark) {
    --color-text: #fff;
    --color-background: #222;
    --color-light: #888;
    --color-primary: #3fccff;
  }

  /**
    Spacing and units
  */
  --unit: 1rem;
  --container-width: 80%;
  @media screen and (max-width: 750px) {
    --container-width: 90%;
  }

  /**
    Fonts
  */
  --font-family-sans-serif:
    system,
    -apple-system;
}
