.row {
    justify-content: space-between;
    padding: 0 2em;

    p {
        .contact-button {
            background-color: var(--color-light);
            border: 1px solid black;
            border-radius: 10%;
            padding: 1em;
            margin-top: 1em;
        }
    }

    * {
        padding: 0 2em;
    }
}
img {
    border-radius: 25%;
}
